{% block stylesheets %}
    <link rel="stylesheet" href="../css/footer.css">
{% endblock %}

<footer class="footer" id="myFooter">
      <div class="text-footer">
              <p> © 2017 Hospital Dr. Ricardo Guitérrez - Todos los derechos reservados. </p>
      </div>
</footer>